# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/workspace/data
/workspace/.ipynb_checkpoints
/workspace/t10k-images-idx3-ubyte
/workspace/t10k-labels-idx1-ubyte
/workspace/train-images-idx3-ubyte
/workspace/train-labels-idx1-ubyte
/workspace/pro
/workspace/model.bin
/workspace/*.ipynb
/objs
/build/*.tar.gz
/lean
/build